.empty-cart {
    max-height: 600px;
    height: 600px;
    max-width: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        width: 300px;
    }
}
