<mat-selection-list [multiple]="false">
    <mat-list-option
        [routerLink]="detailRouterLinkEnum.Jewelery">
        <div class="item-content">
            Біжутерія
        </div>
    </mat-list-option>
    
    <mat-list-option
        [routerLink]="detailRouterLinkEnum.Mens">
        <div class="item-content">
            Чоловічий одяг
        </div>
    </mat-list-option>

    <mat-list-option
        [routerLink]="detailRouterLinkEnum.Womens">
        <div class="item-content">
            Жіночий одяг
        </div>
    </mat-list-option>

    <mat-list-option
        [routerLink]="detailRouterLinkEnum.Electronics">
        <div class="item-content">
            Електроніка
        </div>
    </mat-list-option>
</mat-selection-list>
