<mat-card class="mat-card">
    <mat-card-content>
        <div class="card">
            {{ data.productId }}
            <div class="title">
                {{ data.title }}
            </div>
            <div>
                <div class="img">
                    <img [src]="data.image" alt="image">
                </div>
                <div class="price">
                    {{ data.price | currencyConversionToUAH }}
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
