:host {
    max-height: 100%;
    
    .login {
        margin: 0 auto;
        text-align: center;
    
        mat-form-field {
            width: 100%;
        }
    }
}

.actions {
    display: flex;
    align-items: center;
    gap: 20px;

    .login-btn {
        font-size: 15px;
        padding: 10px;
    }

    .register-btn {
        color: inherit;
        font-size: 12px;

        &:hover {
            color: red;
        }
    }
}