<div class="cart">
    <ng-container *ngIf="productList$ | async as productList; else loadingTemplate">
        <cart-card
            *ngFor="let product of productList"
            [data]="product">
        </cart-card>
        <div class="total">
            <button
                *ngIf="count$ | async as count"
                mat-flat-button color="primary"
                (click)="onNavigateButtonClick()">
                Всього: {{ count }}
            </button>
        </div>
    </ng-container>

    <ng-template #loadingTemplate>
        <app-loader></app-loader>
    </ng-template>
</div>
